<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assests/stylesheets/css.css">
        <style>
            
        </style>
    </head>
    <body>
        <div class="container">
            <% if flash[:notice] %>
            <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>
            <% end %>
            <% end %>
            <div class="signoutlinkdiv">
                <a href="/sessions" data-method="delete"><u class="signoutlink">Sign Out</u></a>
            </div>
            <div class="organizations">
                <h1 class="title1">Hi <%= @user.first_name %> <%= @user.last_name %></h1>
                <p class="caption1" >Here are the organizations you may join:</p>
                <% @groups.each do |group| %>
                    <div class="org">
                        <h3 class="orgtitle"><a href="/groups/<%= group.id %>"><%= group.name %></a></h3>
                        <p class="orgdetails">Members: <%= group.joins.length %></p>
                        <p class="orgdetails"><%= group.description %></p>
                        <% if group.User.id == @user.id %>
                            <form action="/groups/<%= group.id %>" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="hidden" name="_method" value="delete">
                                <button style="margin: 25px 0px 0px 0px;" type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        <%end%>
                    </div>
                <% end %>
            </div>




            <div class="create">
                <p><b>Create a new organization!</b></p>
                <form action="/groups" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <span>Organization Name: </span><input style="margin: 11px 0px 0px 17px;" type="text" name="group[name]">
                    <span>Description: </span><textarea class="desc" cols="16" rows="3" name="group[description]"></textarea>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

