<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assests/stylesheets/css.css">
        <style>
            .container{
                height: 750px;
            }
            .create{
                display: inline-block;
                width: 277px;
                height: 331px;
                border: 3px solid black;
                margin: 0px, 250px, 160px, 0px;
                padding: 34px 0px 0px 25px;
            }
            .organizations{
                display: inline-block;
                margin: 0px 124px 0px 0px;
            }
            .desc{
                display: block;
            }
            
        </style>
    </head>
    <body>
        <div class="container">
            <% if flash[:notice] %>
            <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>
            <% end %>
            <% end %>
            <div class="link">
                <a href="/sessions" data-method="delete" class="signout"><u>Sign Out</u></a>
            </div>
            <div class="organizations">
                <h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1>
                <p>Here are the organizations you may join:</p>
                <% @groups.each do |group| %>
                <h3><a href="/groups/<%= group.id %>"><u><%= group.name %></u></a></h3>
                <p>Members: <%= group.joins.length %></p>
                <p><%= group.description %></p>
                <% if group.user.id == @user.id %>
                <form action="/groups/<%= group.id %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <%end%>
                <% end %>
            </div>




            <div class="create">
                <p>Create a new organization:</p>
                <form action="/groups" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <span>Organization Name: </span><input type="text" name="group[name]">
                    <span class="desc">Description: </span><textarea class="desc" cols="16" rows="3" name="group[description]"></textarea>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
