<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <% if flash[:notice] %>
        <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>
        <% end %>
        <% end %>
        <a href="/groups"><u>Dashboard</u></a>
        <a href="/sessions" data-method="delete"><u>Sign Out</u></a>
        <h1><%= @group.name %></h1>
        <% unless @group.users_joined.include? @user %>
        <form action="/joins/<%= @group.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button type="submit" class="btn btn-success">Join Group</button>
        </form>
        <% else %>
        <form action="/joins/<%= @group.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-warning">Leave Group</button>
        </form>
        <% end %>

        <h3><%= @group.description %></h3>
        <% unless @group.user.id != @user.id %>
        <h4>Created By: YOU</h4>
        <%else%>
        <h4>Created By: <%= @group.user.first_name %> <%= @group.user.last_name %></h4>
        <%end%>

        <h4>Memebers:</h4>
        <% @group.users_joined.each do |user| %>
        <p><%= user.first_name %> <%= user.last_name %></p>
        <%end%>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
